html, body, main {
  height: 100%;
}

body {
  color: #F8F8F8;
  background: #2F2F2F;
  font-family: sans-serif;
  font-size: 125%;
  font-weight: 100;
  margin: 0 auto;
  max-width: 20em;
}

main {
  position: relative;
}

.todo-input {
  color: inherit;
  background: transparent;
  text-decoration: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
  padding: 0;
  padding-left: 1.5em;
  border: none;
  box-sizing: border-box;
}

.todo-checkbox-input {
  position: absolute;
  left: 0.25em;
  top: 0.6em;
  width: 1em;
  height: 1em;
  border: thin solid;
  border-radius: 0.25em;
  line-height: 1em;
  text-indent: 0.1em;
  cursor: pointer;
  -moz-user-select: none;
}

.todo-checkbox-inactive{ 
  display: none;
}

.todo-new-item,
.todo-list {
  list-style: none;
  padding: 0;
  margin: 0 0.5em;
  box-sizing: border-box;
}

.todo-new-item,
.todo-item {
  position: relative;
  border-bottom: thin solid #F8F8F8;
  padding: 0.5em;
}

.todo-item-completed {
  color: #31BCE3;
}

.todo-item-completed .todo-input:not(:focus) {
  text-decoration: line-through;
}
